{
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "add-module-exports",
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
