{
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "commonjs": {
      "presets": [
        "env"
      ],
      "plugins": [
        ["add-module-exports", {
          "addDefaultProperty": true
        }]
      ]
    },
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
